﻿@page
@model BookListRazor.EditModel
@{

    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">Edit Book</h2>
<br />
<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Book.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Book.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Name" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Book.Name"></span>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Book.Author"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Author" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control ">Back To List</a>
            </div>
        </div>
    </form>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

