﻿@page
@model BookListRazor.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Books List</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Create New Book</a>
    </div>

    <div class="col-12 border p-3 mt-3 ">
        <form method="post">
            @if (Model.Books.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Author"></label>
                        </th>
                        <th>
                            Control
                        </th>
                    </tr>
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Author)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white">Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success text-white">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No Books Have Exists.</p>
            }
        </form>
    </div>
</div>
@*onclick="Delete('api/Book?id='@item.Id)"*@
